{
  "extends": ["airbnb", "prettier"],
  "plugins": ["jest"],
  "env": { "jest/globals": true },
  "rules": {
    "eqeqeq": "off",
    "class-methods-use-this": "off",
    "no-console": "off"
  },
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "latest"
    }
  }
}
